@import "../styles/globals.scss";
@import "../styles/smallScreens.scss";
@import "../styles/constants.scss";

@mixin MainSection($blocClassName) {
  > div {
    display: grid;
    grid-template-columns: 64px auto;

    > div {
      padding: 5px 0 10px 0;

      > img {
        width: 100%;
      }

      &:not(:nth-last-child(2), :last-child) {
        border-bottom: 1px solid #e1e0dd;          
      }

      &:nth-of-type(odd) {
        display: flex;
        align-items: center;
      }
    }

    .#{$blocClassName} {
      padding-left: calc(5px + 2%);
    }
  }

  > h2 {
    @include isExtraSmallScreen {
      margin-bottom: 0;
    }
  }
}

.CV {
  padding: 70px 0 80px 0;
  font-size: 1.05em;

  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > h1 {
      align-self: flex-start;

      @include isNotLargeScreen {
        align-self: center;
        margin: 0;
        color: white;
      }
    }

    > div {
      display: grid;      
      grid-template-columns: 300px auto;
      grid-template-rows: 220px 325px max-content;
      grid-template-areas:
        "profile mainTitle"
        "profile mainBody"
        "sidePane mainBody";
      box-shadow: 0px 10px 50px #ccc;
      margin-top: 20px;
      width: 100%;

      h1, h2 {
        margin: 10px 0;
      }
    
      h1 {
        font-size: 2.6em;
      }
    
      h1, h3 {
        text-transform: uppercase;
      }
    
      h2 {
        font-size: 1.8em;
        font-weight: 360;
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 0;
      }
    
      h4 {
        font-weight: 600;
      }
      
      ul {
        list-style: square;
        padding-left: 31px;
    
        li {
            font-size: 0.9em;
            line-height: 26px;
            padding-left: 7px;
        }
      }

      @include isNotLargeScreen {
        display: flex;
        flex-direction: column;
        box-shadow: none;
      }
    }
  }
  
  .SidePane {
    background-color: $darkPurple;
    color: white;
    padding: 30px 0;
    grid-area: sidePane;
    display: flex;
    gap: 30px;
    flex-direction: column;
  
    h3 {
      margin-top: 0;
    }

    > section {
      padding: 0 30px;
    }

    &:nth-child(2) {
      grid-area: profile;
    }

    @include isNotLargeScreen {
      &:nth-child(2) {
        grid-area: profile;
      }
    }
  }

  .Main {
    background-color: $darkPurple;

    > section {
      margin: 0;
      padding: 30px 0;
      background-color: white;

      > * {
        padding-left: 30px;
        padding-right: 30px;
      }
  
      h3 {
        font-size: 1.1em;
        font-weight: 500;
        background-color: $grey;
        color: white;
        padding: 6px 30px 6px 50px;
        position: relative;
        right: 20px;

        @include isNotLargeScreen {
          right: 0;
          padding-left: 30px;
        }
      }
    }
  }

  .MainTitle {
    @extend .Main;
    padding-top: 50px;
    grid-area: mainTitle;

    > section {
      height: 110px;

      @include isNotLargeScreen {
        height: unset;
      }
    }
  }

  .MainBody {
    @extend .Main;
    grid-area: mainBody;
    padding-bottom: 50px;
  }

  @include isNotLargeScreen {
    .Main, .SidePane {
      width: 100%;
    }
  }
}
