@import "../styles/smallScreens.scss";

.Hobbies {
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 20px);

  > div {
    display: flex;
    flex-direction: column;
    padding-left: 26px;
    padding-right: 26px;

    figure {
      flex: auto;
      margin: 0;
      height: 100px;
      width: 100px;

      img {
        display: block;
        width: 100px;
        margin: auto;
      }

      > figcaption {
        text-align: center;
        position: relative;
        bottom: 10px;
      }

      &:nth-of-type(even) {
        align-self: end;
      }
    }

    @include isNotLargeScreen {
      flex-wrap: wrap;
      flex-direction: row;
      column-gap: 30px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
