@import "../containers/CV.module.scss";
@import "../styles/smallScreens.scss";

.Jobs {
  @include MainSection(Job);

  .Job > p:first-of-type {
    color: rgba(0,0,0,0.6);

    span:not(:first-child)::before {
      content: "\00B7";
      margin: 0 5px;
    }
  }

  .Skills {
    font-weight: 500;
  }

  @include isExtraSmallScreen {
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h3 {
        margin-top: 0;
      }
  
      > div {
        padding-top: 0;
  
        > img {
          width: 80%;
          margin: auto;
        }
  
        &:nth-of-type(odd) {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
  
      .Job {   
        padding-left: 0;
        padding-bottom: 35px;
  
        > p:not(:first-of-type) {
          text-align: justify;
        }
      }
    }
  }
}
