@import "../styles/smallScreens.scss";

.Profile {
  height: 495px;

  .Picture {
    width: 156px;
    height: 156px;
    margin: 20px auto 60px auto;

    > img {
      width: 100%;
      border-radius: 50%;
    }

    @include isMediumScreen {
      width: 100%;
      height: unset;
      margin: auto;
    }

    @include isExtraSmallScreen {
      margin: 20px auto 40px auto;
    }
  }

  .Contact {
    > div {
      display: grid;
      column-gap: 15px;
      row-gap: 10px;
      grid-template-columns: 18px minmax(215px, auto);
      padding: 0 0 35px 5px;
      border-bottom: 1px solid #e1e0dd;

      @include isNotLargeScreen {
        border-bottom: 0;
      }

      > img {
        width: 100%;        
      }

      > * {
        margin-top: auto;
        margin-bottom: auto;
      }

      a {
        color: white;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include isMediumScreen {
      margin: auto;

      > div {
        padding-bottom: 0;
      }
    }
  }

  @include isMediumScreen {
    display: grid;
    gap: calc(10px + 5%);
    grid-template-columns: minmax(128px, 200px) minmax(240px, 270px);
    padding: 30px !important;
  }

  @include isNotLargeScreen {
    height: unset;
  }
}
